%rebase ('osnova.html', naslov='Banka', navigator='/')
    <div class="naslov_strani">
       Komitenti
    </div>
    <!-- Iskalna vrstica -->
    <div class="vrstica">
      <span class="napis">Išči osebo:</span>
      <form method="get" action="/isci">
            <input type="text" name="iskalniNiz"/>
            <input type="submit" value="Išči" name="isci" class="gumbi"/>
      </form>
    </div>
    <div class="naslov_strani">
       Vnos novega komitenta
    </div>
    <div class="vrstica">
      <form method="post" action="/dodaj">
        <table>
            <tr>
                <td class="glava">
                  EMŠO:
                </td>
                <td>
                  <input type="text" name="emso" value="{{emso}}"/>
                </td>
            </tr>
            <tr>
                <td class="glava">
                  Ime:
                </td>
                <td>
                  <input type="text" name="ime" value="{{ime}}"/>
                </td>
            </tr>
            <tr>
                <td class="glava">
                  Priimek:
                </td>
                <td>
                  <input type="text" name="priimek" value="{{priimek}}"/>
                </td>
            </tr>
            <tr>
                <td class="glava">
                  Ulica:
                </td>
                <td>
                  <input type="text" name="ulica" value="{{ulica}}"/><br />
                </td>
            </tr>
            <tr>
                <td class="glava">
                  Hišna številka:
                </td>
                <td>
                  <input type="text" name="hisna_st" value="{{hisna_st}}"/>
                </td>
            </tr>
            <tr>
                <td class="glava">
                    Poštna številka:
                </td>
                <td>
                    <input type="text" name="postna_st" value="{{postna_st}}"/>
                </td>
            </tr>
            <tr>
                <td class="glava">
                  Kraj:
                </td>
                <td>
                  <input type="text" name="kraj" value="{{kraj}}"/>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td class="gumb_dodaj">
                  <input type="submit" value="Dodaj" name="dodaj" class="gumbi"/>
                </td>
            </tr>
        </table>

      </form>
    </div>
    %if napaka is not None:
    <div class="vrstica napaka">
    Napaka: {{napaka}}
    </div>
    %end
