%rebase ('osnova.html', naslov='Banka', navigator='/')
    <!-- Iskalna vrstica -->
    <div class="vrstica">
      <span class="napis">Išči osebo</span>
      <form method="get" action="/isci">
            <input type="text" name="iskalniNiz"/>
            <input type="submit" value="Išči" name="isci"/>
      </form>
    </div>
    <div class="vrstica">
      <form method="post" action="/dodaj">
        EMŠO: <input type="text" name="emso" value="{{emso}}"/><br />
        Ime: <input type="text" name="ime" value="{{ime}}"/><br />
        Priimek: <input type="text" name="priimek" value="{{priimek}}"/><br />
        Ulica: <input type="text" name="ulica" value="{{ulica}}"/><br />
        Hišna številka: <input type="text" name="hisna_st" value="{{hisna_st}}"/><br />
        Poštna številka: <input type="text" name="postna_st" value="{{postna_st}}"/><br />
        Kraj: <input type="text" name="kraj" value="{{kraj}}"/><br />
        <input type="submit" value="Dodaj" name="dodaj"
          style="margin-left: 20px;margin-top: 2px;"/>
      </form>
    </div>
    %if napaka is not None:
    <div class="vrstica napaka">
    Napaka: {{napaka}}
    </div>
    %end
