%rebase ('osnova.html', naslov='Oseba', navigator='/ Oseba')
      <div class="naslov_strani">
         {{ime}} {{priimek}}
      </div>
      <table>
          <tr>
              <td class="glava">
                EMŠO:
              </td>
              <td>
                {{emso}}
              </td>
          </tr>
          <tr>
              <td class="glava">
                Naslov:
              </td>
              <td>
                {{ulica}} {{hisna_st}}
              </td>
          </tr>
          <tr>
              <td class="glava">
                  Pošta:
              </td>
              <td>
                  {{postna_st}} {{posta}}
              </td>
          </tr>
      </table>

      <table cellspacing="0" cellpadding="0">
        <tr>
          <th>Račun</th>
          <th>Stanje</th>
          <th>Zadnja sprememba</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </tr>
        %for racun, stanje, zadnja in racuni:
        <tr>
          <td>{{racun}}</td>
          <td>{{stanje}} EUR</td>
          <td>{{pretvori(zadnja)}}</td>
          <td>
            <input type="text" id="znesek{{racun}}" size="5" />
          </td>
          <td>
            <form action="/polog/{{racun}}" method="POST">
              <input type="hidden" name="znesek" id="polog{{racun}}" />
              <input type="submit" value="Polog" name="polog" class="gumbi" onclick="document.getElementById('polog{{racun}}').value = document.getElementById('znesek{{racun}}').value;" />
            </form>
          </td>
          <td>
            <form action="/dvig/{{racun}}" method="POST">
              <input type="hidden" name="znesek" id="dvig{{racun}}" />
              <input type="submit" value="Dvig" name="dvig" class="gumbi" onclick="document.getElementById('dvig{{racun}}').value = document.getElementById('znesek{{racun}}').value;" />
            </form>
          </td>
        </tr>
        %end
      </table>
      %if napaka is not None:
      <div class="vrstica napaka">
      Napaka: {{napaka}}
      </div>
      %end