.navigator {
  height: 30px;
  font-size: 12px;
}
.napis {
  margin-right: 10px;
  font-size: 14px;
  margin-top: 2px;
}
.vrstica {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.napaka {
  color: #ff0000;
}
body {
  padding-left: 3em;
}
.naslov_strani {
  height: 3em;
  font-size: larger;
  display: flex;
  align-items: center;
}
.gumb_dodaj {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.5em;
}
